# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
venv/
.env

# Distribution
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# OneDrive temp
~$*
